.top-part {
    background-color: #1a6baf;
    padding: 4rem;
}

.tab-btn {
    border: 0;
    padding: 10px 8px;
    border-radius: 2rem;
    color: #383838;
    background: rgb(30, 255, 0);
}

.nav-tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
}

.nav-items1 {
    background-color: #1a6baf;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    padding: 12px;
}